// Labels Colors for Quark Theme
.label {
      // Label rounded
    &.label-rounded {
        border-radius: 5rem;
        padding: 0.3rem 0.55rem;
        line-height: 1.25;
        margin: 0.2rem;
    }
     &.label-secondary {
        @include label-variant($light-color, $dark-color);
    }
    &.label-light {
        @include label-variant($body-font-color, $bg-color-dark);
    }
}

#sidebar ul.archives .label {
    vertical-align: middle !important;
}